<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineProdavnica</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>OnlineProdavnica.adminservlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Administratori</display-name>
    <servlet-name>Administratori</servlet-name>
    <servlet-class>OnlineProdavnica.Models.Administratori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administratori</servlet-name>
    <url-pattern>/Administratori</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteServlet</display-name>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <servlet-class>OnlineProdavnica.adminservlet.AdminDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <url-pattern>/AdminDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminNewServlet</display-name>
    <servlet-name>AdminNewServlet</servlet-name>
    <servlet-class>OnlineProdavnica.adminservlet.AdminNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewServlet</servlet-name>
    <url-pattern>/AdminNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdavnicaNewServlet</display-name>
    <servlet-name>ProdavnicaNewServlet</servlet-name>
    <servlet-class>OnlineProdavnica.prodavnicaservlet.ProdavnicaNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdavnicaNewServlet</servlet-name>
    <url-pattern>/ProdavnicaNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProizvodNewServlet</display-name>
    <servlet-name>ProizvodNewServlet</servlet-name>
    <servlet-class>OnlineProdavnica.proizvodservlet.ProizvodNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProizvodNewServlet</servlet-name>
    <url-pattern>/ProizvodNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProizvodDeleteServlet</display-name>
    <servlet-name>ProizvodDeleteServlet</servlet-name>
    <servlet-class>OnlineProdavnica.proizvodservlet.ProizvodDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProizvodDeleteServlet</servlet-name>
    <url-pattern>/ProizvodDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KupovinaNewServlet</display-name>
    <servlet-name>KupovinaNewServlet</servlet-name>
    <servlet-class>OnlineProdavnica.kupovinaservlet.KupovinaNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KupovinaNewServlet</servlet-name>
    <url-pattern>/KupovinaNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KupovinaDeleteServlet</display-name>
    <servlet-name>KupovinaDeleteServlet</servlet-name>
    <servlet-class>OnlineProdavnica.kupovinaservlet.KupovinaDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KupovinaDeleteServlet</servlet-name>
    <url-pattern>/KupovinaDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mysqlconfiguration</display-name>
    <servlet-name>mysqlconfiguration</servlet-name>
    <servlet-class>OnlineProdavnica.MySQLConfiguration.mysqlconfiguration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mysqlconfiguration</servlet-name>
    <url-pattern>/mysqlconfiguration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KupovinaDelServlet</display-name>
    <servlet-name>KupovinaDelServlet</servlet-name>
    <servlet-class>OnlineProdavnica.kupovinaservlet.KupovinaDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KupovinaDelServlet</servlet-name>
    <url-pattern>/KupovinaDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>OnlineProdavnica.adminservlet.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIzbrisiCookieServlet</display-name>
    <servlet-name>AdminIzbrisiCookieServlet</servlet-name>
    <servlet-class>OnlineProdavnica.adminservlet.AdminIzbrisiCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIzbrisiCookieServlet</servlet-name>
    <url-pattern>/AdminIzbrisiCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrzavaNewServlet</display-name>
    <servlet-name>DrzavaNewServlet</servlet-name>
    <servlet-class>OnlineProdavnica.drzavaservlet.DrzavaNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrzavaNewServlet</servlet-name>
    <url-pattern>/DrzavaNewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrzavaDelete</display-name>
    <servlet-name>DrzavaDelete</servlet-name>
    <servlet-class>OnlineProdavnica.drzavaservlet.DrzavaDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrzavaDelete</servlet-name>
    <url-pattern>/DrzavaDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrzavaDeleteServlet</display-name>
    <servlet-name>DrzavaDeleteServlet</servlet-name>
    <servlet-class>OnlineProdavnica.drzavaservlet.DrzavaDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrzavaDeleteServlet</servlet-name>
    <url-pattern>/DrzavaDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>